[submodule "google-sql-filtering-lab"]
	path = google-sql-filtering-lab
	url = https://github.com/Rey-EL/google-sql-filtering-lab.git
[submodule "linux-least-privilege-lab"]
	path = linux-least-privilege-lab
	url = https://github.com/Rey-EL/linux-least-privilege-lab.git
[submodule "media-tidy"]
	path = media-tidy
	url = https://github.com/Rey-EL/media-tidy.git
[submodule "nist-ddos-incident-report"]
	path = nist-ddos-incident-report
	url = https://github.com/Rey-EL/nist-ddos-incident-report.git
[submodule "pdf-merger"]
	path = pdf-merger
	url = https://github.com/Rey-EL/pdf-merger.git
[submodule "ppt-to-pdf-converter"]
	path = ppt-to-pdf-converter
	url = https://github.com/Rey-EL/ppt-to-pdf-converter.git
[submodule "sec-plus-guide"]
	path = sec-plus-guide
	url = https://github.com/Rey-EL/sec-plus-guide.git
[submodule "file-janitor"]
	path = file-janitor
	url = https://github.com/Rey-EL/file-janitor.git
